body {
    max-width: 850px;
    margin: auto;
    min-height: 100%;
    padding-bottom: 20px;
    font-family: $sansfont;

    background-color: $background-color;
    color: $text-color;
}

header {
    margin: auto 12px;

    #header {
        border-bottom: 2px solid $link-color;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 12px;

        #title {
            font-size: 2em;
            color: $text-color;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

small {
    color: $small-text-color;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.permalink {
        color: $link-color;
        font-size: 0.65em;
    }
}

blockquote {
    color: $small-text-color;
    border-left: 4px solid $small-text-color;
    padding-left: 12px;
}

.postlisting-row td {
    padding-bottom: 12px;
}

#content {
    line-height: 1.25em;
}

pre {
    padding: 5px;
    overflow-x: auto;
    font-family: $monofont;
}
