.graphviz {
    margin: 24px auto;

    svg {
        max-width: 100%;
        width: 100%;

        .graph.default-coloring {
            ellipse, path, polygon {
                stroke: $text-color;
            }

            text {
                fill: $text-color;
            }

            * {
                font-family: $sansfont;
            }
        }
    }
}
