@import "syntax.scss";

html {
	background-color: lightskyblue;
}

body {
	max-width: 850px;
	margin: auto;
	background-color: white;
	min-height: 100%;
	padding-bottom: 20px;
}

#header {
	border-bottom: 4px solid lightskyblue;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 12px;

	#title {
		font-size: 2em;
		color: black;

		&:hover {
			text-decoration: none;
		}
	}
}

a {
	color: royalblue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

pre {
	padding: 5px;
	overflow-x: auto;
}
