@import "syntax";

$sansfont: "Helvetica", "Arial", "Liberation Sans", sans-serif;
$monofont: "Roboto Mono", "Roboto Mono for Powerline", "Inconsolata", "Consolas", monospace;

// colors

@media (prefers-color-scheme: light) {
    $background-color: white;
    $text-color: #15202B;
    $small-text-color: lighten($text-color, 15%);
    $link-color: royalblue;
    @import "content";
    @import "graph";
}

@media (prefers-color-scheme: dark) {
    $background-color: #15202B;
    $text-color: #D4D4D4;
    $small-text-color: darken($text-color, 15%);
    $link-color: lightskyblue;
    @import "content";
    @import "graph";
}
