{{- define "content" -}}

{{ .Content }}

{{ range .Site.Data.projects }}
<h2>{{ .category }}</h2>

<p>{{ .desc }}</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Lang</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {{ range .projects }}
        <tr>
            <td><a href="{{ .link }}" target="_blank">{{ .name }}</a></td>
            <td>{{ .desc }}</td>
            <td>{{ delimit .langs ", " }}</td>
            <td>{{ .status }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{- end -}}
