/* Aspects. */
.Agda .Comment       { color: #608b4e }
.Agda .Background    {}
.Agda .Markup        { color: #000000 }
.Agda .Keyword       { color: #569cd6 }
.Agda .String        { color: #ce9178 }
.Agda .Number        { color: #b5cea8 }
.Agda .Symbol        { color: #cccccc }
.Agda .PrimitiveType { color: #00cdcd }
.Agda .Pragma        { color: #cccccc }
.Agda .Operator      {}

/* NameKinds. */
.Agda .Bound                  { color: black   }
.Agda .Generalizable          { color: black   }
.Agda .InductiveConstructor   { color: #cccccc }
.Agda .CoinductiveConstructor { color: #cccccc }
.Agda .Datatype               { color: #00cdcd }
.Agda .Field                  { color: #cccccc }
.Agda .Function               { color: #cccccc }
.Agda .Module                 { color: #cccccc }
.Agda .Postulate              { color: #00cdcd }
.Agda .Primitive              { color: #b5cea8 }
.Agda .Record                 { color: #00cdcd }

/* OtherAspects. */
.Agda .DottedPattern      {}
.Agda .UnsolvedMeta       { color: black; background: yellow         }
.Agda .UnsolvedConstraint { color: black; background: yellow         }
.Agda .TerminationProblem { color: black; background: #FFA07A        }
.Agda .IncompletePattern  { color: black; background: #F5DEB3        }
.Agda .Error              { color: red;   text-decoration: underline }
.Agda .TypeChecks         { color: black; background: #ADD8E6        }

/* Standard attributes. */
.Agda a { text-decoration: none }
.Agda a[href]:hover { background-color: darken(#B4EEB4, 60%) }
