@font-face {
  font-family: 'PragmataPro Mono Liga';
  src: url("/fonts/PragmataPro_Mono_R_liga_0829.woff2") format("woff2"),
    url(https://mzhang.io/fonts/PragmataPro_Mono_R_liga_0829.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url(/fonts/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(/fonts/Poppins-Bold.ttf) format("truetype");
}

