$fa-font-path: "/fork-awesome";
@import "./fork-awesome/fork-awesome.scss";

@import "grid";
@import "agda";
@import "mixins";
@import "fonts";

$sansfont: "Inter", "Helvetica", "Arial", "Liberation Sans", sans-serif;
$monofont: "PragmataPro Mono Liga", "Roboto Mono", "Roboto Mono for Powerline", "Inconsolata", "Consolas", monospace;

// colors

@media (prefers-color-scheme: light) {
    $background-color: white;
    $faded-background-color: darken($background-color, 10%);
    $shadow-color: darken($background-color, 10%);
    $heading-color: darken(royalblue, 10%);
    $text-color: #15202B;
    $small-text-color: #6e707f;
    $smaller-text-color: lighten($text-color, 30%);
    $faded: lightgray;
    $hr-color: lightgray;
    $link-color: royalblue;
    $code-color: firebrick;
    $tag-color: lighten($link-color, 35%);
    @import "syntax";
    @import "content";
}

@media (prefers-color-scheme: dark) {
    $background-color: #202030;
    $faded-background-color: lighten($background-color, 10%);
    $shadow-color: lighten($background-color, 10%);
    $heading-color: lighten(lightskyblue, 20%);
    $text-color: #CDCDCD;
    $small-text-color: darken($text-color, 8%);
    $smaller-text-color: darken($text-color, 12%);
    $faded: #666;
    $hr-color: gray;
    $link-color: lightskyblue;
    $code-color: lighten(firebrick, 25%);
    $tag-color: darken($link-color, 55%);
    @import "syntax";
    @import "content";
}
