@import "colors.scss";
@import "fonts.scss";
@import "simple-grid.scss";
@import "syntax.scss";
body {
    border-top: 10px solid $brand;
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

small {
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

*::selection {
    background-color: $brand;
    color: #f0f0f0;
}

pre,
code {
    * {
        font-family: "RobotoMono", monospace;
        font-weight: 300;
    }
    padding: 10px;
}

#navbar .link {
    font-size: 1.6em;
    margin-right: 20px;
}