@use "variables";

.side-nav .side-nav-content {
  display: flex;
  justify-content: center;
  gap: 20px;

  .me {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .links {
      text-align: center;
      font-size: 0.9rem;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 6px;

      a {
        text-decoration: none;
        color: var(--link-color);
        text-transform: lowercase;
        border-radius: 4px;
        padding: 4px;

        &:hover {
          background-color: var(--link-hover-color);
        }
      }
    }
  }

  .home-link {
    text-decoration: none;
  }

  .portrait {
    aspect-ratio: 1 / 1;
  }

  a.portrait {
    all: unset;
    cursor: pointer;
  }

  a.portrait img {
    border-radius: 100%;
    width: auto;
    height: auto;
  }

  .bio {
    font-size: 0.85rem;
    line-height: 1.4;

    ul {
      padding-left: 12px;
      list-style-type: "\25B8\00A0";
    }
  }
}

@media screen and (max-width: variables.$breakpoint) {
  .side-nav {
    background: linear-gradient(to top, var(--sidebar-color) 50%, transparent);

    .side-nav-content {
      width: 100%;
      padding: 18px 0;
      border-bottom: 1px solid var(--shadow-color);

      .home-link {
        display: flex;
        justify-content: space-evenly;
      }

      h1.title {
        margin-bottom: 5px;
      }

      a.portrait img {
        max-height: 80px;
      }

      .bio {
        display: none;
      }
    }
  }
}

@media screen and (min-width: variables.$breakpoint) {
  .side-nav {
    // Capital Min to avoid invoking SCSS min
    width: 300px;
    min-width: 300px;

    background: linear-gradient(to left, var(--sidebar-color) 50%, transparent);

    .side-nav-content {
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;

      padding-top: 32px;
      padding-right: 32px;
      padding-left: 32px;
      border-right: 1px solid var(--shadow-color);
      flex-direction: column;

      justify-content: flex-start;

      a.portrait img {
        max-width: 100%;
      }

      h1.title {
        text-align: center;
      }

      .links {
        // margin-bottom: 20px;
      }
    }
  }
}