<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>michael's blog</title>

        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    </head>

    <body>
        <header>
            <div id="header" class="container">
                <a href="/" id="title" class="title nocolorlink">{{ .Site.Title }}</a>

                <div id="nav">
                    {{- range $index, $page := .Site.Home.Pages -}}
                        {{- if ne $index 0 -}}
                            &nbsp;&middot;&nbsp;
                        {{- end -}}

                        <a href="{{ .RelPermalink }}" class="link">{{ $page.Title }}</a>
                    {{- end -}}
                </div>
            </div>
        </header>

        <div class="container" style="padding: 5px 40px;">
            {{ block "content" . }}{{ end }}
        </div>

        <footer>
            <p style="margin: 0;">
                blog code licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">[gpl3]</a>.
                post contents licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt">[cc by-sa 4.0]</a>.
                <br />
                written by michael zhang.
                <a href="https://git.mzhang.io/michael/blog" class="colorlink" target="_blank">[source]</a>.
            </p>
        </footer>
    </body>
</html>
