---
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { join, dirname } from "node:path";

const currentUrl = Astro.url;
---

<BaseLayout>
  <h1>Drafts</h1>

  <PostList basePath={join(dirname(currentUrl.pathname), "posts")} drafts="only" />
</BaseLayout>
