---
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { join } from "path";

const currentUrl = Astro.url;
---

<BaseLayout>
  <h2>Blog</h2>

  <!-- {JSON.stringify(allPosts)} -->

  <PostList basePath={join(currentUrl.pathname, "posts")} />
</BaseLayout>
