---
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Blog</h2>

  <!-- {JSON.stringify(allPosts)} -->

  <PostList />
</BaseLayout>
