---
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { join } from "path";
import "../styles/home.scss";

const currentUrl = Astro.url;
---

<BaseLayout>
  <h2>Blog</h2>

  <PostList className="home" basePath={join(currentUrl.pathname, "posts")} />
</BaseLayout>
