---
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { join } from "node:path";
import "../styles/home.scss";

const currentUrl = Astro.url;
---

<BaseLayout>
  <h1>Blog</h1>

  <PostList class="home" timeFormat="yyyy-MM-dd" basePath={join(currentUrl.pathname, "posts")} />
</BaseLayout>
