{{- define "headExtra" -}}
<meta name="description" content="{{ .Summary }}" />
{{- end -}}

{{- define "content" -}}

<a href="../">&laquo; back</a>
<h1 style="margin: 0;">{{ .Title }}</h1>

<small style="display: block; margin-bottom: 20px;">
    Posted
    on {{ .Date.Format "Mon Jan 02, 2006" }}
    - {{ .ReadingTime }} min read
</small>

{{ if .Params.toc }}
<div class="toc">
    <details>
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
    </details>
</div>
{{ end }}

<div id="content" class="post-content">{{ .Content }}</div>

<hr />

<small>
    Thanks for reading!
    {{ if .Params.mastodon }}
        Have comments? Discuss this post on <a href="{{ .Params.mastodon }}" target="_blank">Mastodon</a>.
    {{ end }}
</small>

{{- end -}}
