---
import "../styles/footer.scss";

const dateUpdated = new Date();
---

<footer>
  <p>
    Blog theme and contents written by Michael Zhang with the <a
      href="https://astro.build/"
      target="_blank"
      rel="noreferrer noopener">Astro</a
    > framework.
    <br />
    Last updated {dateUpdated.toLocaleString(undefined, { dateStyle: "full" })}.
    <br />
    <a href="https://git.mzhang.io/michael/blog" class="colorlink" target="_blank">Source code</a>
  </p>
</footer>
