---
interface Props {
  timestamp: Date;
}

const { timestamp } = Astro.props;
import { format } from "date-fns";
// const datestamp = timestamp.toLocaleDateString(undefined, {
//   year: "numeric",
//   month: "short",
//   day: "numeric",
// });
---

<span title={timestamp.toISOString()}>{format(timestamp, "yyyy MMM d")}</span>
