<table style="width: 100%;">
    {{- range .Pages -}}
        <tr class="postlisting-row">
            <td>
                <span style="font-size: 1.2em;">
                    <a href="{{ .Permalink }}" class="brand-colorlink">{{ .Title }}</a>
                </span>
                <br />
                <small>
                    {{ .ReadingTime }} min read -

                    Posted

                    on {{ partial "rel-date" .Date }}
                </small>
            </td>
        </tr>
    {{- end -}}
</table>
