<table style="width: 100%;">
    {{- range .Pages -}}
        {{ if not .Draft }}
            <tr class="postlisting-row">
                <td class="info">
                    {{ .Date.Format "2006 Jan 02" }}
                </td>
                <td>
                    <span class="title">
                        <a href="{{ .RelPermalink }}" class="brand-colorlink">{{ .Title }}</a>
                    </span>
                </td>
            </tr>
        {{ end }}
    {{- end -}}
</table>
