{{- define "body" -}}

<div id="homepageContainer">
    <div id="homepage">
        <h1 id="title">michael zhang</h1>

        <div id="about">{{ .Content }}</div>

        <h2 id="blog-posts-title"><a href="/posts">recent blog posts &raquo;</a></h2>
        <div id="blog-posts">
            {{ $posts := .GetPage "/posts" }}
            {{- range first 3 $posts.Pages -}}
            <a href="{{ .RelPermalink }}" class="blog-post-link">
                <span class="blog-post">
                    <span class="title">{{ .Title }}</span>
                    <small class="details">
                        {{ .Date.Format "Mon Jan 02, 2006" }}
                    </small>
                </span>
            </a>
            {{- end -}}
        </div>
    </div>
</div>

{{- end -}}
