<html>

<head>
    <title>{{ page.title }} - michael's blog</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <header>{% include navbar.html %}</header>

    <div class="container" style="padding: 30px;">
        <div style="text-align: center;">
            <h1 style="display: inline-block; margin: 0;">{{ page.title }}</h1>
            <p style="font-size: 0.9em;">published:
                <b>{{ page.date | date_to_long_string }}</b>
            </p>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}
</body>

</html>