---
import Footer from "../components/Footer.astro";
import LeftNav from "../components/LeftNav.astro";
import classNames from "classnames";
import Nav from "../components/Nav.astro";
// import "../styles/global.scss";
import "../styles/global.css";
import "@fontsource/pt-serif";
import "katex/dist/katex.min.css";
import portrait from "../assets/self.png";

interface Props {
  title?: string;
  pad?: boolean;
  toc?: boolean;
}

const { title, pad, toc } = Astro.props;
const shouldPad = pad === undefined ? true : pad;
const hasToc = toc ?? false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content={portrait.src} />
    <title>{title && `${title} - `} Michael Zhang</title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
    <slot name="head" />
  </head>

  <body class="container mx-auto px-4 py-8 max-w-4xl">
    <Nav />
    <main class="container">
      <slot />
    </main>
  </body>
</html>
