---
import LeftNav from "../components/LeftNav.astro";
import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michael Zhang</title>

    <link rel="stylesheet" href="{{ $style.RelPermalink }}" crossorigin="anonymous" />
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="container">
        <LeftNav />

        <div class="sep"></div>

        <slot />
      </div>
    </div>

    <footer>
      <p>
        Blog code licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank"
          >[GPL-3.0]</a
        >. Post contents licensed under <a
          href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt">[CC BY-SA 4.0]</a
        >.
        <br />
         Written by Michael Zhang.
        <a href="https://git.mzhang.io/michael/blog" class="colorlink" target="_blank">[Source]</a>.
      </p>
    </footer>
  </body>
</html>
