---
import Footer from "../components/Footer.astro";
import LeftNav from "../components/LeftNav.astro";
import "../styles/global.scss";
import "katex/dist/katex.min.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michael Zhang</title>
    <slot name="head" />
  </head>

  <body>
    <div class="flex-wrapper">
      <LeftNav />

      <div class="sep"></div>

      <main>
        <slot />
      </main>
    </div>

    <Footer />
  </body>
</html>
