name: workflow

on:
  push:
    branches:
      - master # Triggers on pushes to the master branch

jobs:
  build:
    runs-on: ubuntu-latest # Uses the latest Ubuntu runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Action to checkout your repository

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Upload build artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist # The directory containing your static site to be deployed

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build # Ensures this job runs after the 'build' job
    permissions:
      pages: write # Grants the GITHUB_TOKEN write permission to deploy to GitHub Pages
      id-token: write # Grants the GITHUB_TOKEN read permission for OIDC
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
